/*CONTACTO*/
.contactoMain {
  background-image: url("../../img/travelHero1.jpg");
  background-size: cover;
}

.contactoMain h2 {
  color: white;
} 

.formContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto auto auto;
  background:rgb(211, 211, 211);
  width: 40%;
  height: auto;
  padding: auto;

  border: 1px solid #ddd;
  border-radius: 1rem;

}

.formContact p,input{
      margin: auto;
      padding: 1rem;
      color: black;
      width: 100%;
        max-width: 400px;

}

input{
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.3s ease;
}

input:focus{
  border-color: #007BFF;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.3);
}


.texto_mensaje {
  width: 100%;
  height:100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  max-width: 400px;
 
}

.botonEnviar {
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  margin:2em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.botonEnviar:hover {
  background-color: #5cbf2a;
}

.botonEnviar:active {
  position: relative;
  top: 1px;
}


